<div class="container">
    <div>
        <button class="button" routerLink="/profile" >Update profile</button> 
    </div> <br>
    <label><strong>My profile</strong></label>
    <table class="table table-dark table-striped-columns">
     <thead>
         <tr>   <th>Customer Id</th>
                 <th>First Name</th>
                 <th>Last Name</th>
                 <th>Phone number</th> 
                 <th>Email</th>
                 <th>Password</th>
         </tr>
     </thead>
  
     <tbody> 
         <tr >
            <td>{{customerInfos.customerId}}</td>
            <td>{{customerInfos.fname}}</td>
            <td>{{customerInfos.lname}}</td>
            <td>{{customerInfos.phoneNumber}}</td>
            <td>{{customerInfos.email}}</td>
            <td>{{customerInfos.password}}</td>
         </tr>
     </tbody>
     
 </table><br>
 <label><strong>My recent purchases</strong></label>
    <table class="table table-striped table-hover">
     <thead>
         <tr>
                 <th>Seat number</th>
                 <th>price</th>
                 <th>available</th>
         </tr>
     </thead>
  
     <tbody> 
         <tr *ngFor ="let seat of cusSeats">
            <td>{{seat.seatNumber}}</td>
            <td>{{seat.price}}</td>
            <td>{{seat.available}}</td>
         </tr>
     </tbody>
     
 </table><br>
 <div>
    <label><strong>My purchase history</strong></label>
    <div>
        <table class="table table-success table-striped">
         <thead  class="table-light">
             <tr>
                        <th>Ticket Id</th>
                     <th>Customer Id</th>
                     <th>Event Id</th>
                     <th>Seat</th>
                     <th>Payment Id</th>
                   
             </tr>
         </thead>
     
         <tbody> 
             <tr *ngFor ="let ticket of purchaseHistory">
                <td>{{ticket.ticketId}}</td>
                <td>{{ticket.customerId}}</td>
                <td>{{ticket.eventId}}</td>
                <td>{{ticket.seatNumber}}</td>
                <td>{{ticket.paymentInfoId}}</td>
             </tr>
         </tbody>
     </table><br>
     <div>
    <div>
        <button class="button" (click)="eventMenu()">Print and event menu</button>
    </div> 

