<div >
    <div>
        Your payment reciept
    </div>
    <table style ="border: 1px solid black; width:80%">
     <thead>
         <tr>   
            <th> TicketId Number</th>
                 <th>Total seats</th>
                 <th>Seat number</th>
                 <th>Total amount paid</th>
                 <th>Paid With</th>
         </tr>
     </thead>
 
     <tbody> 
         <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
         </tr>
      
     </tbody>
    </table>
</div>
<div>
<div> confirmation </div>
<table style ="border: 1px solid black; width:80%">
    <thead>
        <tr >
                <th>Confirmation Number</th>
                <th>Confirmation Date</th>
                <th>Costumer Name</th>
                <th>Customer Id</th>
                
               
        </tr>
    </thead>

    <tbody> 
        <tr>
                <td></td>
              
                <td></td>
             
                    <td></td>
                 
                    
                <td></td>
        
             
            
        </tr>
    </tbody>
    
</table>
</div>
    <div>
        <button>Print recipt and exit</button>
    </div>