
    <div class="container">
        <div class="container">
        <form [formGroup]="paymentinfoGroup" (ngSubmit)="savePaymentInfo()">
            <label>Add new payment</label> <br>
            <label for="cardNumber">Card number</label> <br>

            <input type="text" id="cardNumber" formControlName="cardNumber" placeholder="Card number"> <br><br>
            
            
            <form [formGroup]="paymentinfoGroup">
                <label>Payment Options</label> <br>
                <input type="radio" id="debitCard" value="Debit Card" formControlName="paymentType" name="paymentType">
                <label for="debitCard">Debit Card</label><br>
                
                <input type="radio" id="creditCard" value="Credit Card" formControlName="paymentType" name="paymentType">
                <label for="creditCard">Credit Card</label><br><br>
            </form>
        
                 <button class="btn btn-primary"  type ="submit" >submit</button>
    
        </form>
    </div>
    <div class="container">
        <div><br><br>
            Card Items
        </div>
        <table style ="border: 1px solid black; width:100%">
         <thead>
             <tr>
                     <th>Total seats</th>
                     <th>total amount</th>
             </tr>
         </thead>
     
         <tbody> 
             <tr>
                    <td>{{totalTickets}}</td>
                    <td>{{totalAmount}}</td>
                     <td>
                        <button class="btn btn-danger"  routerLink="/event/{{eventId}}"><i class="pi pi-pencil"></i></button>
                     </td>
                    
             </tr>
          
         </tbody>
        </table>
    </div><br><br>
    <div class="container"> Payment information
    <table class ="table-light"  style ="border: 1px solid black; width:100%">
        <thead>
            <tr >
                    <th>Card</th>
                    <th>type</th>
                    
                   
            </tr>
        </thead>
    
        <tbody> 
            <tr *ngFor = "let card of allCardsByCustomer">
                    <td>
                        {{card.cardNumber}}
                    </td>
                    <td>
                        {{card.paymentType}}
                    </td>
                    <td> 
                        <button class="btn btn-danger"(click)="deletePaymentMethod(cId,card.cardNumber)">Delete Card</button>
                        
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="saveTicket(card.paymentInfoId)" (click)="wantToPurchase()">Purchase</button>
                    </td>
                
               
            </tr>
        </tbody>

    </table>
         </div>
        </div>
        <p-confirmDialog />