<div >
    <table style ="border: 1px solid black; width:80%">
     <thead>
         <tr>
                 <th>Seat ID</th>
                 <th>Seat Number</th>
                 <th>Price</th>
                 <th>Available</th>
         </tr>
     </thead>
 
     <tbody> 
         <tr *ngFor ="let seat of seatList">
                 <td>{{seat.seatID}}</td>
                 <td>{{seat.seatNumber}}</td>
                 <td>{{seat.price}}</td>
                 <td>{{seat.available}}</td>
                 <td>
                     <button class="button" >Add to card</button>
                 </td>
 
         </tr>
     </tbody>
 </table>
 </div>
