
<div >
   <table class="table table-bordered">
     <thead>
         <tr>
                 <th>Seat ID</th>
                 <th>Seat Number</th>
                 <th>Price</th>
                 <th>Available</th>
         </tr>
     </thead>
 
     <tbody> 
         <tr *ngFor ="let seat of seatList">
                 <td scope="col">{{seat.seatID}}</td>
                 <td scope="col">{{seat.seatNumber}}</td>
                 <td scope="col">{{seat.price}}</td>
                 <td scope="col">{{seat.available}}</td>
                 <td scope="col">
                     <button class="btn btn-primary" (click)="seatsInCard(seat)" >Add to card</button>
                 </td>
 
         </tr>
     </tbody>
 </table><br>
 <div>
    <button class="text" style="margin-right: 75%;" >My Card</button>
 </div>
 <div >
    <table class="table">
     <thead>
         <tr>
                 <th scope="col">Seat ID</th>
                 <th scope="col">Seat Number</th>
                 <th scope="col">Price</th>
                 <th scope="col">Available</th>
         </tr>
     </thead>
 
     <tbody> 
         <tr *ngFor ="let seat of cardSeats">
                 <td>{{seat.seatID}}</td>
                 <td>{{seat.seatNumber}}</td>
                 <td>{{seat.price}}</td>
                 <td>{{seat.available}}</td>
                 <td>
                     <button class="btn btn-danger" (click)="DeleteSeatFromCard(seat.seatNumber)" >Delete item</button>
                 </td>
         </tr>
     </tbody>
     
 </table><br><br>
 <div>
    <div>
        <button class="text" style="margin-right: 75%;" >Your Total</button>
     </div>
    <div >
        <table style ="border: 1px solid black; width:100%">
         <thead>
             <tr>
                     <th>Total tickets</th>
                     <th> Total amount </th>
                     <th> Buy</th>
                   
                    
             </tr>
         </thead>
     
         <tbody> 
             <tr>
                     <td>{{totalTickets}}</td>
                     <td>{{totalAmt}}</td>
                     
                     <td>
                         <button  class="btn btn-primary"  routerLink="/paymentinfo/{{customerId}}">Procced to checkout</button>
                     </td>
             </tr>
         </tbody>
         
     </table>
     <div>
      
 </div>
